    /*
    Flaticon icon font: Flaticon
    Creation date: 06/07/2017 11:58
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-shield:before { content: "\f100"; }
.flaticon-medical-7:before { content: "\f101"; }
.flaticon-medical-6:before { content: "\f102"; }
.flaticon-business:before { content: "\f103"; }
.flaticon-medical-5:before { content: "\f104"; }
.flaticon-transport:before { content: "\f105"; }
.flaticon-molar-inside-a-shield:before { content: "\f106"; }
.flaticon-medical-2:before { content: "\f107"; }
.flaticon-head:before { content: "\f108"; }
.flaticon-credit-card:before { content: "\f109"; }
.flaticon-tooth:before { content: "\f10a"; }
.flaticon-pair-of-molars:before { content: "\f10b"; }
.flaticon-medical-4:before { content: "\f10c"; }
.flaticon-medical-3:before { content: "\f10d"; }
.flaticon-medical-1:before { content: "\f10e"; }
.flaticon-brush:before { content: "\f10f"; }
.flaticon-medical:before { content: "\f110"; }
.flaticon-dental-review:before { content: "\f111"; }
.flaticon-dental-prosthesis:before { content: "\f112"; }
    
    $font-Flaticon-shield: "\f100";
    $font-Flaticon-medical-7: "\f101";
    $font-Flaticon-medical-6: "\f102";
    $font-Flaticon-business: "\f103";
    $font-Flaticon-medical-5: "\f104";
    $font-Flaticon-transport: "\f105";
    $font-Flaticon-molar-inside-a-shield: "\f106";
    $font-Flaticon-medical-2: "\f107";
    $font-Flaticon-head: "\f108";
    $font-Flaticon-credit-card: "\f109";
    $font-Flaticon-tooth: "\f10a";
    $font-Flaticon-pair-of-molars: "\f10b";
    $font-Flaticon-medical-4: "\f10c";
    $font-Flaticon-medical-3: "\f10d";
    $font-Flaticon-medical-1: "\f10e";
    $font-Flaticon-brush: "\f10f";
    $font-Flaticon-medical: "\f110";
    $font-Flaticon-dental-review: "\f111";
    $font-Flaticon-dental-prosthesis: "\f112";